<%- include('partials/header') -%>
  <%- include('partials/navbar') -%>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-6">

          <% if(moves.ApprovalStatus===false ){%>
            <h2 class="status">Awaiting Approval</h2>
            <%}else{ %>
              <h2 class="status">Your Event is Approved!</h2>

              <% } %>
                <img class="img-fluid" src="<%= moves.image%>" />
                <div class="row justify-content-between">

                  <% if(user.userName === moves.venueName ){%>
                  <form class="col-1" action="/moves/approveMove/<%= moves.id %>?_method=PUT" method="POST">
                    <button class="btn btn-primary " type="submit">Approve</button>
                  </form>
                  <form class="col-1" action="/moves/denyMove/<%= moves.id %>?_method=PUT" method="POST">
                    <button class="btn btn-primary " type="submit">Deny</button>
                  </form>
                  <% }else{ %>
                    <%}%>
                  <!-- <h3 class="col-3">Likes: <%= moves.likes %>
          </h3> -->
                  <%if(moves.user==user.id){ %>
                    <form action="/moves/deletePost/<%= moves.id %>?_method=DELETE" method="POST" class="col-3">
                      <button class="btn btn-primary " type="submit">Delete</button>
                    </form>
                    
                    <%}%>
                </div>
        </div>

        <div class="row-3 mt-5">
          <h1>
            <%= moves.eventTitle %>
          </h1>
          <p>
            <%= moves.description %>
          </p>
          <span> When: </span></br>
          <p>
            <%= moves.startDate.toString().substring(0,15) %>
          </p>
          <p>
            <%= moves.startTime %> - <%= moves.endTime %>
          </p>
          <span> Where: </span>
          <a href="/profile/<%= moves.venueId %>"><span>
              <%= moves.venueName %>
            </span></a>
            <h3>Featured Artists</h3>
            <div class="artistContainer">
          

            <% for (var i=0; i < artists.length; i++) { if (moves.artists.includes(artists[i].userName)) { %>
          
            
                <a href="/profile/<%=artists[i]._id%>">
                  <h4>
                    <%=artists[i].userName%>
                  </h4>
           
              
                  <div class="imageContainer ">
                    <img class="profileImage" src="<%=artists[i].profilePicture%>">
                  </a>
                
              </div>
              <% }}%>
            </div>
         

        </div>



        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile/<%=user.id%>">Return to Profile</a>

        </div>
      </div>

      <%- include('partials/footer') -%>