<%- include('partials/header') -%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/nav logo.png" class="navLogo" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/">Home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/profile/<%= user.id%>">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/venues">Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/users">Artists</a>
        </li>
           <li class="nav-item">
          <a class="nav-link btn btn-outline-light" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
    <h1>Upcoming Moves</h1>
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i < moves.length; i++){%>
          <h2><%= moves[i].eventTitle%></h2>
          <section class="eventImageContainer">
          <li>
            <a href="/moves/<%= moves[i]._id%>">
              <img class="img-fluid eventImage" src="<%= moves[i].image%>">
            </a>
          </li>
        </section>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>