<%- include('partials/header') -%>
  <%- include('partials/profileNav') -%>

    <body class="profileBg">

      <!-- profile banner -->
      <div class="container ">
        <%if(profile.id===user.id){%>
          <section class="banner">
            <img class="img-fluid profileBanner editBanner" src="<%= profile.bannerPicture %>">
          </section>


          <%}else{%>
            <section class="banner">
              <img class="img-fluid profileBanner" src="<%= profile.bannerPicture %>">
            </section>
            <button hidden type="button" class="editBanner  btn btn-primary" data-toggle="modal"
              data-target="#editModal">
              <i class="fa-solid fa-gear " style="color: #000000;"></i>
            </button>

            <%}%>
              <div >
                <!-- profile image and bio -->
                <div class="col mt-5">

                  <div>

                    <div class="row-4 justify-content-between mt-5">
                      <div class="imageContainer">
                        <img class="img-fluid profileImage" src="<%= profile.profilePicture %>">
                      </div>
                    </div>
                    <h1>
                      <%= profile.userName %>
                    </h1>
                    <p>
                      <%= profile.bio %>
                    </p>
                    <h3>Contact Email: <%= profile.email %>
                    </h3>
                  </div>
                  <!-- edit button for profile -->
                  <div class="row-5">
                    <%if(profile.id===user.id){%>
                      <button type="button" class="editButton btn btn-primary" data-toggle="modal"
                        data-target="#editModal">
                        <i class="fa-solid fa-gear " style="color: #000000;"></i>
                      </button>
                      <% }else{ %>

                        <button type="button" class="editButton invisible btn btn-primary" data-toggle="modal"
                          data-target="#editModal">
                          <i class="fa-solid fa-gear " style="color: #000000;"></i>
                        </button>
                        <%}%>
                          <!-- profile showcase -->
                          <div class="audioShowcase">

                            <div class="mt-auto mb-auto  text-center">
                              <% if (profile.isVenue==='false' || profile.isVenue==='No' ) { %>
                                <h2>
                                  <%=profile.userName%>'s Showcase
                                </h2>
                                <div>
                                  <%- include('partials/profilePlayer') %>
                                </div>

                                <button id="toggleFormButton" class="btn btn-primary">Upload a Song</button>

                                <form id="uploadForm" action="/moves/addTrack" enctype="multipart/form-data"
                                  method="POST" style="display: none;">
                                  <div class="mb-3">

                                    <label for="trackName" class="form-label">Song Title</label>
                                    <input type="text" class="form-control" id="trackName" name="trackName">
                                  </div>
                                  <div class="mb-3">
                                    <input class="hidden" type="text" class="form-control" id="uploadedBy"
                                      name="uploadedBy" value="<%= profile.userName %>">
                                  </div>
                                  <div class="mb-3">
                                    <label for="songUpload" class="form-label">Please upload your Songs</label>
                                    <input type="file" class="form-control" id="songUpload" name="songFile">
                                  </div>
                                  <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                                </form>
                                <% }else{ %>
                                  <button id="toggleFormButton" class="hidden">Upload a Song</button>
                                  <%}%>
                            </div>
                          </div>
                  </div>
                </div>

              </div>

              <!-- SUBMISSION FORM IF ACCOUNT IS A VENUE -->
              <% if (profile.isVenue==='true' ) { %>

                <h2>Submit an event</h2>
                <form action="/moves/createPost" enctype="multipart/form-data" method="POST">
                  <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="eventTitle" name="eventTitle">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="hidden" id="venueName" name="venueName" value="<%= profile.userName %>">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="hidden" id="venueId" name="venueId" value="<%= profile.id %>">
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Event Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="artists" class="form-label">Featured Artists</label>
                    <input type="text" class="form-control" id="artists" name="artists">
                  </div>
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file">
                  </div>
                  <div class="mb-3">
                    <label for="startDateTime" class="form-label">Event Start Date and Time</label>
                    <input type="date" class="form-control" id="startDate" name="startDate">
                    <input type="time" class="form-control" id="startTime" name="startTime">
                  </div>

                  <div class="mb-3">
                    <label for="endDateTime" class="form-label">Event End Date and Time</label>
                    <input type="date" class="form-control" id="endDate" name="endDate">
                    <input type="time" class="form-control" id="endTime" name="endTime">
                  </div>

                  <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                </form>
                <% } %>


                  <div class="row-4 ">
                    <ul class="row list-unstyled">
                      <% if (profile.isVenue==="false" && moves.length <=0){%>
                        <section>
                          <h1 class="outline">LETS MAKE MOVES</h1>
                          <h1 class="boldHorizon">LETS MAKE MOVES</h1>
                          <h1 class="outline">LETS MAKE MOVES</h1>
                          <span><a href="/venues">Click here to checkout some venues and submit an event</a></span>
                        </section>
                        <%}%>
                          <!-- upcoming events -->
                          <% for(var i=0; i < moves.length; i++){
                            if(moves[i].venueName===profile.userName||moves[i].artists.includes(profile.userName)) {%>

                            <section class=' moveContainer'>

                              <li class="row-6 mt-5 ">
                                <div class="eventImageContainer">
                                <a class="event" href="/moves/<%= moves[i]._id%>">
                                  <img class="img-fluid eventImage" src="<%= moves[i].image%>">
                                </a>
                              </div>
                                <button type="button" class="editMove  btn btn-primary" data-toggle="modal"
                                  data-target="#editModal">
                                  <i class="fa-solid fa-gear " style="color: #000000;"></i>
                                </button>
                                <h1>
                                  <%= moves[i].eventTitle %>
                                </h1>

                                <h2> When: </h2></br>
                                <p>
                                Date:  <%= moves[i].startDate.toString().substring(0,15) %>
                                </p>
                                
                                <p class="startTime">
                                 Start Time: <%= moves[i].startTime %>
                                </p>
                                <p class="endTime">
                                End Time:  <%= moves[i].endTime %>
                                </p>
                                <p>
                                Artist(s):  <%=moves[i].artists%>
                                </p>
                                <span> Where: </span></br>
                                <a href="/profile/<%= moves[i].venueId %>"><span>
                                    <%= moves[i].venueName %>
                              </li></a>

                              <!-- event edit modal start -->
                              <div class="modal fade" id="moveModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="ModalTitle">Edit Move</h5>

                                    </div>
                                    <div class="modal-body ">

                                      <!-- update form starts -->

                                      <form action="/editMove/<%= moves[i].id%>?_method=PUT"
                                    method="POST" id="eventEdit">

                                        <div class="mb-3">
                                          <label for="eventTitle" class="form-label">Title</label>
                                          <input type="text" class="form-control" id="eventTitle" name="eventTitle"
                                            value="<%=moves[i].eventTitle%>" required>
                                        </div>


                                        <div class="mb-3">
                                          <label for="description" class="form-label">Event Description</label>
                                          <textarea class="form-control" id="description"
                                            name="description"><%=moves[i].description%></textarea>
                                        </div>
                                        <div class="mb-3">
                                          <label for="artists" class="form-label">Featured Artists</label>
                                          <input type="text" class="form-control" id="artists" name="artists"
                                            value="<%=moves[i].artists%>" required>
                                        </div>

                                        <div class="mb-3">
                                          <label for="startDateTime" class="form-label">Event Start Date and
                                            Time</label>
                                          <input type="date" class="form-control" id="startDate" name="startDate"
                                            value="<%= moves[i].startDate.toString().substring(0,15) %>" required>
                                          <input type="time" class="form-control" id="startTime" name="startTime"
                                            value="<%=moves[i].startTime%>" required>
                                        </div>

                                        <div class="mb-3">
                                          <label for="endDateTime" class="form-label">Event End Date and Time</label>
                                          <input type="date" class="form-control" id="endDate" name="endDate"
                                            value="<%= moves[i].endDate.toString().substring(0,15) %>" required>
                                          <input type="time" class="form-control" id="endTime" name="endTime"
                                            value="<%=moves[i].endTime%>" required>
                                        </div>

                                        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                                        <!-- update form ends -->
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- modal end -->

                              <% if(moves[i].ApprovalStatus===false ){%>
                                <span class="status">Awaiting Approval</span>
                                <%}else{ %>
                                  <span class="status">Your Event is Approved!</span>
                                  <% } %>

                                    <% }}%>

                            </section>

                    </ul>
                  </div>

      </div>

      <!-- profile edit modal start -->
      <div class="modal fade" id="profilePictureModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalTitle">Edit your profile</h5>

            </div>
            <div class="modal-body">
              <!-- update form starts -->
              <form action="/editProfile/<%= profile.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="profilePic" class="form-label">Profile Picture</label>
                  <input type="file" class="form-control" id="profilePic" name="imageFiles" accept="image/*"
                    value="<%profile.profilePicture%>">
                </div>

                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
              <!-- update form ends -->
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->


      <!-- banner edit modal start -->
      <div class="modal fade" id="bannerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalTitle">Edit your profile</h5>

            </div>
            <div class="modal-body">
              <!-- update form starts -->
              <form action="/editBanner/<%= profile.id %>?_method=PUT" enctype="multipart/form-data" method="POST">

                <div class="mb-3">
                  <label for="bannerPic" class="form-label">Banner Picture</label>
                  <input type="file" class="form-control" id="bannerPic" name="imageFiles" accept="image/*">
                </div>

                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
              <!-- update form ends -->
            </div>

          </div>
        </div>
      </div>
      <!-- modal end -->

      <!-- bio edit modal start -->
      <div class="modal fade" id="bioModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalTitle">Edit your profile</h5>

            </div>
            <div class="modal-body">
              <!-- update form starts -->
              <form action="/editBio/<%= profile.id %>?_method=PUT" method="POST">

                <div class="mb-3">
                  <input type="text" class="form-control" id="biography" name="bio" value="<%=profile.bio%>">
                </div>

                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
              <!-- update form ends -->
            </div>

          </div>
        </div>
      </div>
      <!-- modal end -->



      <script src="/main.js"></script>
    </body>

    <%- include('partials/footer') -%>